body {
	width: 100wh;
	height: 90vh;
  color: #fff;
  
	background: linear-gradient(-45deg, rgb(197, 154, 141), rgb(233, 225, 189), rgb(154, 178, 187), rgb(158, 219, 205));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.blogpagecut {
  background-color:hsl(0, 0%, 98%); 
  margin-top: 65px; 
  margin-left: auto;
  padding: auto; 
  height: auto; 
  width: 1100px; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  text-align: centre; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}

.reviewpagecut {
  background-color:hsl(0, 0%, 98%); 
  margin-top: 65px; 
  margin-left: auto;
  padding: auto; 
  height: auto; 
  width: 1100px; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  text-align: centre; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}
h3 {
  padding-left: auto;
  color:rgb(223, 166, 11);
  display: inline;
  
}

p {
  color: black;
}
ol, ul {
color: black;
}

h1 {
  text-align: center;
  font-size: 90px;
}

.section1 {
  font-size: 45px;
}

.section2 {
  font-size: 45px;
}

.section3 {
  font-size: 45px;
}

.section4 {
  font-size: 45px;
}

h2 {
  color: rgb(157, 226, 211);
  font-size: 15px;
  text-align: center;
}
div {
  background-color:hsl(0, 0%, 98%); 
  margin: auto; 
  padding: 33px;
  height: auto; 
  width: 1100px; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  text-align: centre; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  bottom: -44px;
}
.About {
color: black;
text-align: center;
}

h5 {
color: black;
font-size: 20px;

}
.navbar {
  width: 1100px;
  margin-left: -33px;
  margin-top: -33px;
  background-color: hsl(0, 0%, 98%); 
  height: 50px;
  font-size: 100px;
}

.navbar a {
  float: left;
  padding: 12px 0;
  color: rgb(23, 75, 105);
  text-decoration: none;
  font-size: 15px;
  width: 10%;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(157, 226, 211);
}

.active {
	background: rgb(227, 231, 162);
}

@media screen and (max-width: 1100px) {
  .navbar a {
    float: none;
    display: block;
  }
}

 .overlapping1 {
   position: relative;
   z-index: 1;
   top: 0px;
   color: rgb(62, 136, 136);
   font-size: 78px;
   text-align: center;
 }

.overlapping2 {
  position: relative;
  z-index: 2;
  top: -136px;
  color: rgb(115, 128, 105);
  font-size: 78px;
  text-align: center;
}

.overlapping3 {
  position: relative;
  z-index: 3;
  top: -271px;
  font-size: 78px;
  color: teal;
  text-align: center;
}

.overlapping4 {
  position: relative;
  z-index: 4;
  font-size: 78px;
  top: -406px;
  color: rgb(128, 148, 165);
  text-align: center;
}

.overlapping5 {
  position: relative;
  z-index: 5;
  font-size: 78px;
  top: -541px;
  color: rgb(44, 44, 150);
  text-align: center;
}
.overlapping6 {
  position: relative;
  z-index: 6;
  font-size: 78px;
  top: -677px;
  color: rgb(98, 80, 116);
  text-align: center;
}
.overlapping7 {
  position: relative;
  z-index: 7;
  top: -814px;
  font-size: 78px;
  color: pink;
  text-align: center;
}